Repository acoular/acoular, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, ci, linting, maintenance

.github/labeler.yml:

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md
    - AUTHORS.rst
    - CITATION.cff
tests:
- changed-files:
  - any-glob-to-any-file:
    - tests/**
ci:
- changed-files:
  - any-glob-to-any-file: .github/**
linting:
- changed-files:
  - any-glob-to-any-file: .ruff.toml
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - CONTRIBUTING.md
    - CODE_OF_CONDUCT.md
    - LICENSE
new feature:
 - head-branch: ['^feature', 'feature']
sinus:
 - head-branch: ['^sinus', 'sinus']

use hatch for publishing package (#261)
  .github/workflows/pypi.yml
  .github/workflows/testpypi.yml
Labels: ci

fixes BeamformerGridlessOrth shgo params and eva_list initial value
  acoular/fbeamform.py
  tests/reference_data/BeamformerGridlessOrth.npy
Labels: tests

added changes to CsvSamples
  acoular/sources.py
Labels: none

Bugfix: CsvSamples
  acoular/sources.py
Labels: none

added delimiter to CsvSamples
  acoular/sources.py
Labels: none

ignore venvs
  .gitignore
Labels: none

linting
  acoular/fbeamform.py
Labels: none
