Repository acoular/acoular, pull requests merged in 2024-04, with the labels that each got.

#222 Add code of conduct
  CODE_OF_CONDUCT.md
Labels: maintenance

#229 Basic Linting
  .git-blame-ignore-revs
  .github/workflows/linting.yml
  .ruff.toml
  acoular/__init__.py
  acoular/calib.py
  acoular/configuration.py
  acoular/demo/__init__.py
  acoular/demo/acoular_demo.py
  acoular/environments.py
  acoular/fastFuncs.py
  acoular/fbeamform.py
  acoular/fileimport.py
  acoular/grids.py
  acoular/h5cache.py
  acoular/h5files.py
  acoular/internal.py
  acoular/microphones.py
  acoular/nidaqimport.py
  acoular/sdinput.py
  acoular/signals.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  acoular/tfastfuncs.py
  acoular/tools.py
  acoular/tprocess.py
  acoular/traitsviews.py
  acoular/trajectory.py
  examples/acoular_demo.py
  examples/basic_beamformer_example.py
  examples/example_SampleSplitter_bufferhandling.py
  examples/example_SampleSplitter_multithreading.py
  examples/three_sources.py
  pyproject.toml
  tests/test_beamformer_results.py
  tests/test_classes.py
  tests/test_digest.py
  tests/test_environments.py
  tests/test_example1.py
  tests/test_grid.py
  tests/test_integrate.py
  tests/test_signals.py
  tests/test_sources.py
  tests/test_spectra.py
  tests/test_timecache.py
  tests/test_tprocess.py
  tests/test_traj_beamformer_results.py
  tests/unsupported/SpeedComparison/mainForCython.py
  tests/unsupported/SpeedComparison/mainForParallelJit.py
  tests/unsupported/SpeedComparison/setupCythonOpenMP.py
  tests/unsupported/SpeedComparison/sharedFunctions.py
  tests/unsupported/SpeedComparison/vglOptimierungGaussSeidel.py
  tests/unsupported/SpeedComparison/vglOptimierungR_BEAMFULL_INVERSE.py
  tests/unsupported/SpeedComparison/vglOptimierungR_BEAM_OS.py
  tests/unsupported/functionalBeamformer.py
  tests/unsupported/precisionTest.py
  tests/unsupported/validationOfBeamformerFuncsPOSTAcoularIntegration.py
  tests/unsupported/validationOfBeamformerFuncsPREeAcoularIntegration.py
Labels: ci, tests

#239 only run github CI on pulls
  .github/workflows/github.yml
Labels: ci

#235 make `tools.py` not executable
  acoular/tools.py
Labels: maintenance

#241 Fix coverage CI
  .github/workflows/tests.yml
  pyproject.toml
Labels: ci, maintenance

#242 Give explicit names to `alls-green` jobs
  .github/workflows/checks.yml
  .github/workflows/docs.yml
  .github/workflows/github.yml
  .github/workflows/tests.yml
Labels: ci
