Repository acoular/acoular, pull requests merged in 2024-11, with the labels that each got.

#347 Version
  docs/source/news/index.rst
  pyproject.toml
Labels: maintenance, docs

#312 Documentation update on how to create a pull request
  docs/source/_static/forked_acoular_repository_github_site.png
  docs/source/_static/pull_request_form_github_site_preview.png
  docs/source/_static/pull_request_form_github_site_write.png
  docs/source/contributing/index.rst
  docs/source/contributing/pull_request.rst
  docs/source/news/index.rst
Labels: docs

#354 Set maximum line lengths
  .ruff.toml
  acoular/base.py
  acoular/configuration.py
  acoular/environments.py
  acoular/fastFuncs.py
  acoular/fbeamform.py
  acoular/fprocess.py
  acoular/grids.py
  acoular/process.py
  acoular/sdinput.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  acoular/tools/aiaa.py
  acoular/tools/utils.py
  acoular/tprocess.py
  docs/source/news/index.rst
  examples/introductory_examples/example_3D_beamforming.py
  examples/introductory_examples/example_basic_beamforming.py
  examples/introductory_examples/example_three_sources.py
  examples/io_and_signal_processing_examples/example_fft.py
  examples/io_and_signal_processing_examples/example_power_spectra_import.py
  examples/tools/example_evaluate.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_cmf.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_freq_domain_methods.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_steering_vectors.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_time_domain_methods.py
  tests/cases/test_environments_cases.py
  tests/cases/test_fbeamform_cases.py
  tests/cases/test_generator_cases.py
  tests/cases/test_grid_cases.py
  tests/conftest.py
  tests/regression/test_fbeamform.py
  tests/unittests/test_caching.py
  tests/unittests/test_classes.py
  tests/unittests/test_filtwnoise.py
  tests/unittests/test_grid.py
  tests/unittests/test_result_generators.py
Labels: tests, docs, linting, fix, refactoring

#365 inspect CI regtest outputs
  .github/workflows/regtest_inspect.yml
  docs/source/news/index.rst
Labels: ci, docs

#367 hot fix regtest CI
  .github/workflows/regtest_inspect.yml
Labels: ci

#366 Change name and from_file to file
  README.md
  acoular/calib.py
  acoular/demo/acoular_demo.py
  acoular/deprecation.py
  acoular/grids.py
  acoular/microphones.py
  acoular/sources.py
  acoular/tools/aiaa.py
  acoular/tprocess.py
  acoular/traitsviews.py
  docs/source/get_started/index.rst
  docs/source/news/index.rst
  examples/benchmark/test_beamformerfreq.py
  examples/introductory_examples/example_3D_beamforming.py
  examples/introductory_examples/example_basic_beamforming.py
  examples/introductory_examples/example_three_sources.py
  examples/io_and_signal_processing_examples/example_power_spectra_import.py
  examples/tools/example_evaluate.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_cmf.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_freq_domain_methods.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_steering_vectors.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_time_domain_methods.py
  examples/wind_tunnel_examples/example_sectors_and_integration.py
  tests/cases/test_generator_cases.py
  tests/conftest.py
  tests/data/b11aCsmEss.h5
  tests/data/b11aTimeSeries.h5
  tests/data/b11aTimeSeriesOpt.h5
  tests/regression/_regtest_outputs/test_generator.test_generators[TimeSamplesAIAABenchmark]__0/arrays.npy
  tests/regression/_regtest_outputs/test_generator.test_generators[TriggerAIAABenchmark]__0/arrays.npy
  tests/unittests/test_aiaa.py
  tests/unittests/test_calib.py
  tests/unittests/test_microphones.py
  tests/unittests/test_tprocess.py
  tests/unsupported/functionalBeamformer.py
  tests/unsupported/precisionTest.py
  tests/unsupported/validationOfBeamformerFuncsPOSTAcoularIntegration.py
  tests/utils.py
Labels: tests, maintenance, docs

#368 Adds function to calculate the speed of sound in air
  acoular/tools/__init__.py
  acoular/tools/helpers.py
  acoular/tools/utils.py
  docs/source/conf.py
  docs/source/literature/literature.bib
  docs/source/news/index.rst
  docs/source/plots/c_air.py
  tests/unittests/test_tools.py
Labels: new feature, tests, docs

#356 fix negative values
  .github/workflows/regtest.yml
  acoular/fbeamform.py
  docs/source/news/index.rst
  tests/regression/_regtest_outputs/test_fbeamform.test_beamformer[CMF-rdiag-True-LassoLars-8kHz-3rd-oct]__0/arrays.npy
  tests/regression/_regtest_outputs/test_fbeamform.test_beamformer[CMF-rdiag-True-LassoLarsBIC-8kHz-3rd-oct]__0/arrays.npy
  tests/regression/_regtest_outputs/test_fbeamform.test_beamformer[DamasPlus-rdiag-False-LassoLars-8kHz-3rd-oct]__0/arrays.npy
  tests/regression/_regtest_outputs/test_fbeamform.test_beamformer[GIB-rdiag-False-LassoLars-8kHz-3rd-oct]__0/arrays.npy
  tests/regression/_regtest_outputs/test_fbeamform.test_beamformer[GIB-rdiag-False-LassoLarsCV-8kHz-3rd-oct]__0/arrays.npy
  tests/regression/_regtest_outputs/test_fbeamform.test_beamformer[GIB-rdiag-True-LassoLars-8kHz-3rd-oct]__0/arrays.npy
  tests/regression/_regtest_outputs/test_fbeamform.test_beamformer[GIB-rdiag-True-LassoLarsCV-8kHz-3rd-oct]__0/arrays.npy
  tests/regression/_regtest_outputs/test_spectra.test_csm[custom-16]__0/arrays.npy
  tests/regression/_regtest_outputs/test_spectra.test_csm[custom-32]__0/arrays.npy
  tests/regression/_regtest_outputs/test_spectra.test_eva[custom-32]__0/arrays.npy
  tests/regression/_regtest_outputs/test_spectra.test_eve[custom-16]__0/arrays.npy
  tests/regression/_regtest_outputs/test_spectra.test_eve[custom-32]__0/arrays.npy
  tests/regression/test_fbeamform.py
Labels: ci, tests, maintenance, docs, fix

#376 Fix the use of Trait factory
  acoular/configuration.py
  acoular/environments.py
  acoular/fbeamform.py
  acoular/fprocess.py
  acoular/process.py
  acoular/sdinput.py
  acoular/signals.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  acoular/tprocess.py
  docs/source/news/index.rst
Labels: docs, fix, refactoring
