Repository acoular/acoular, pull requests merged in 2024-06, with the labels that each got.

#265 Adds flow establishment length traits
  acoular/environments.py
Labels: enhancement, fix

#273 Issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CONTRIBUTING.md
Labels: ci, maintenance

#270 make SoundDeviceSamplesGenerator always importable
  .github/workflows/tests.yml
  acoular/__init__.py
  acoular/sdinput.py
  pyproject.toml
Labels: ci, maintenance, linting

#267 refactor
  .ruff.toml
  acoular/fbeamform.py
  examples/example_airfoil_in_open_jet_beamforming.py
  tests/reference_data/Example1_numerical_values_testsum.h5
  tests/test_beamformer_results.py
  tests/test_example1.py
Labels: tests, fix

#279 temporary fix to tables numpy 2.0 incompatibility problem
  pyproject.toml
Labels: maintenance

#277 add auto label rule for linting label
  .github/labeler.yml
Labels: ci

#276 Linting: Naming conventions (superseded)
  .ruff.toml
  acoular/configuration.py
  acoular/demo/acoular_demo.py
  acoular/environments.py
  acoular/fastFuncs.py
  acoular/fbeamform.py
  acoular/grids.py
  acoular/h5cache.py
  acoular/h5files.py
  acoular/internal.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  acoular/tfastfuncs.py
  acoular/tools/aiaa.py
  acoular/tprocess.py
  examples/benchmark/test_beamformerfreq.py
  examples/benchmark/test_delayandsum.py
  scripts/plot_examples.py
Labels: linting

#280 Implement a lazy result array for BeamformerBase derived classes
  acoular/fbeamform.py
  tests/test_beamformer_results.py
Labels: enhancement, caching, new feature, tests

#261 use hatch for publishing package
  .github/workflows/pypi.yml
  .github/workflows/testpypi.yml
Labels: ci
