Repository acoular/acoular, pull requests merged in 2024-12, with the labels that each got.

#381 Deprecate no-underscore traits
  acoular/base.py
  acoular/calib.py
  acoular/deprecation.py
  acoular/fbeamform.py
  acoular/fprocess.py
  acoular/grids.py
  acoular/microphones.py
  acoular/process.py
  acoular/sdinput.py
  acoular/signals.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  acoular/tools/aiaa.py
  acoular/tools/helpers.py
  acoular/tools/metrics.py
  acoular/tools/utils.py
  acoular/tprocess.py
  acoular/traitsviews.py
  docs/source/get_started/index.rst
  examples/introductory_examples/example_3D_beamforming.py
  examples/introductory_examples/example_basic_beamforming.py
  examples/introductory_examples/example_three_sources.py
Labels: enhancement, docs, refactoring

#387 fix upper version bound
  pyproject.toml
Labels: maintenance, fix

#391 Fix `AngleTracker`
  acoular/tprocess.py
  docs/source/news/index.rst
Labels: docs, fix

#351 Calib
  acoular/base.py
  acoular/calib.py
  acoular/sources.py
  docs/source/news/index.rst
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_cmf.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_freq_domain_methods.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_steering_vectors.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_time_domain_methods.py
  tests/cases/test_generator_cases.py
  tests/regression/_regtest_outputs/test_generator.test_generators[Calib-frequency-1ch]__0/arrays.npy
  tests/regression/_regtest_outputs/test_generator.test_generators[Calib-frequency-2ch]__0/arrays.npy
  tests/regression/_regtest_outputs/test_generator.test_generators[Calib-time-1ch]__0/arrays.npy
  tests/regression/_regtest_outputs/test_generator.test_generators[Calib-time-2ch]__0/arrays.npy
  tests/unittests/test_result_generators.py
Labels: enhancement, tests, docs, examples

#377 Replace HasPrivateTraits with HasStrictTraits and ABCHasStrictTraits
  .ruff.toml
  acoular/base.py
  acoular/configuration.py
  acoular/environments.py
  acoular/fbeamform.py
  acoular/grids.py
  acoular/h5cache.py
  acoular/microphones.py
  acoular/signals.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tools/metrics.py
  acoular/tprocess.py
  acoular/trajectory.py
  docs/source/news/index.rst
  pyproject.toml
  tests/cases/test_environments_cases.py
  tests/cases/test_generator_cases.py
  tests/regression/_regtest_outputs/test_environments.test_flow[RectGrid3D-FlowField]__0/arrays.npy
  tests/unittests/test_classes.py
  tests/unittests/test_tools.py
  tests/unittests/test_tprocess.py
  tests/utils.py
Labels: tests, maintenance, docs, linting

#386 Auto-assign pull request
  .github/auto_assign.yml
  .github/workflows/auto-assign_pull_request.yml
  docs/source/news/index.rst
Labels: ci, docs

#392 Version hotfix
  pyproject.toml
Labels: maintenance, fix

#393 remove hatch version pin
  .github/actions/setup-hatch/action.yml
Labels: ci, maintenance

#394 Refactor `depends_on` dependencies
  acoular/fbeamform.py
  acoular/fprocess.py
  acoular/grids.py
  acoular/process.py
  acoular/signals.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tools/aiaa.py
  acoular/tprocess.py
  acoular/trajectory.py
  docs/source/news/index.rst
Labels: docs, refactoring

#396 only add assignee if no assignee has been added
  .github/workflows/auto-assign_pull_request.yml
Labels: ci, fix

#379 Remove deprecated traits ending with version 25.01 (#346)
  acoular/fbeamform.py
  acoular/grids.py
  acoular/signals.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  docs/source/news/index.rst
Labels: docs

#369 Enable varying block buffer sizes within SampleSplitter
  acoular/process.py
  docs/source/news/index.rst
  examples/io_and_signal_processing_examples/example_sample_splitter_bufferhandling.py
  pyproject.toml
Labels: enhancement, maintenance, docs

#398 tests: treat warnings as errors
  docs/source/news/index.rst
  pyproject.toml
  tests/cases/test_generator_cases.py
  tests/regression/_regtest_outputs/test_generator.test_generators[deprecated-MaskedTimeInOut-1ch]__0/arrays.npy
  tests/regression/_regtest_outputs/test_generator.test_generators[deprecated-MaskedTimeInOut-2ch]__0/arrays.npy
  tests/regression/_regtest_outputs/test_generator.test_generators[deprecated-TimeAverage-1ch]__0/arrays.npy
  tests/regression/_regtest_outputs/test_generator.test_generators[deprecated-TimeAverage-2ch]__0/arrays.npy
  tests/regression/_regtest_outputs/test_generator.test_generators[deprecated-TimeCache-1ch]__0/arrays.npy
  tests/regression/_regtest_outputs/test_generator.test_generators[deprecated-TimeCache-2ch]__0/arrays.npy
  tests/regression/test_generator.py
  tests/regression/test_spectra.py
  tests/unittests/test_result_generators.py
  tests/utils.py
Labels: tests, maintenance, docs

#399 fix spelling mistakes
  acoular/fastFuncs.py
  acoular/fbeamform.py
  acoular/fprocess.py
  acoular/grids.py
  acoular/microphones.py
  acoular/process.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  acoular/tools/aiaa.py
  acoular/tprocess.py
  acoular/trajectory.py
Labels: fix

#395 Remove `__class__` from digest dependencies
  acoular/process.py
  acoular/signals.py
  acoular/sources.py
  acoular/tbeamform.py
  acoular/tprocess.py
Labels: fix, refactoring

#397 Update deprecation decorator
  acoular/calib.py
  acoular/demo/acoular_demo.py
  acoular/deprecation.py
  acoular/fbeamform.py
  acoular/grids.py
  acoular/signals.py
  acoular/sources.py
  acoular/tbeamform.py
  acoular/tfastfuncs.py
  examples/benchmark/test_delayandsum.py
  examples/introductory_examples/example_3D_beamforming.py
  examples/introductory_examples/example_three_sources.py
  examples/io_and_signal_processing_examples/example_fft.py
  examples/io_and_signal_processing_examples/example_filter.py
  examples/io_and_signal_processing_examples/example_power_spectra_import.py
  examples/moving_sources_examples/example_rotating_point_source.py
  examples/tools/example_evaluate.py
  examples/tools/example_tools.py
  pyproject.toml
  tests/cases/test_caching_cases.py
  tests/cases/test_generator_cases.py
  tests/cases/test_grid_cases.py
  tests/conftest.py
  tests/regression/test_environments.py
  tests/unittests/test_aiaa.py
  tests/unittests/test_convolve.py
  tests/unittests/test_filtwnoise.py
  tests/unittests/test_fprocess.py
  tests/unittests/test_grid.py
  tests/unittests/test_integrate.py
  tests/unittests/test_microphones.py
  tests/unittests/test_result_generators.py
  tests/unittests/test_sample_buffer.py
  tests/unittests/test_sdinput.py
  tests/unittests/test_tprocess.py
  tests/utils.py
Labels: enhancement, tests, maintenance
