Repository acoular/acoular, pull requests merged in 2024-05, with the labels that each got.

#244 Remove outdated submodules
  .ruff.toml
  acoular/__init__.py
  acoular/configuration.py
  acoular/fileimport.py
  acoular/nidaqimport.py
  acoular/traitsviews.py
Labels: maintenance

#245 Move imports to top
  .ruff.toml
  acoular/traitsviews.py
Labels: nonurgent, linting

#246 fix `enforce-label` job
  .github/workflows/github.yml
Labels: ci

#243 Add comment about calibration factors
  acoular/calib.py
Labels: docs

#248 Provides new tools to import data in AIAA array benchmark format
  .ruff.toml
  acoular/__init__.py
  acoular/h5files.py
  acoular/sources.py
  acoular/tools.py
  acoular/tools/__init__.py
  acoular/tools/aiaa.py
  acoular/tools/helpers.py
  acoular/tools/metrics.py
Labels: new feature

#250 allow workflow dispatch for testing
  .github/workflows/tests.yml
Labels: ci

#249 Adds new UMA-16 xml file
  acoular/microphones.py
  acoular/xml/minidsp_uma-16.xml
  acoular/xml/minidsp_uma-16_mirrored.xml
Labels: new feature, fix

#251 add support for Python 3.12
  .github/actions/setup-hatch/action.yml
  .github/workflows/tests.yml
  docs/source/install/index.rst
  pyproject.toml
Labels: ci, maintenance, docs

#253 Dedicated Workflow for Labeler bot
  .github/workflows/github.yml
  .github/workflows/labeler.yml
Labels: ci

#254 Release preperation
  .github/actions/setup-hatch/action.yml
  .github/workflows/tests.yml
  CITATION.cff
  README.md
  acoular/version.py
  acoular/xml/minidsp_uma-16.xml
  docs/source/news/index.rst
  pyproject.toml
  recipe.local/meta.yaml
Labels: ci, maintenance, docs

#257 add zenodo release to CITAITON.cff
  CITATION.cff
Labels: docs

#256 Bugfix GitHub pages deploy
  .github/workflows/docs.yml
  .ruff.toml
  acoular/configuration.py
  acoular/demo/__init__.py
  acoular/demo/acoular_demo.py
  acoular/environments.py
  acoular/fastFuncs.py
  acoular/fbeamform.py
  acoular/grids.py
  acoular/sdinput.py
  acoular/signals.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  acoular/tfastfuncs.py
  acoular/tools/__init__.py
  acoular/tools/aiaa.py
  acoular/tools/helpers.py
  acoular/tools/metrics.py
  acoular/tprocess.py
  acoular/trajectory.py
  docs/source/api_ref/index.rst
  docs/source/get_started/index.rst
  docs/source/index.rst
  docs/source/install/index.rst
  docs/source/news/index.rst
Labels: ci, docs

#259 CI for TestPyPI and PyPI
  .github/workflows/pypi.yml
  .github/workflows/testpypi.yml
  README.md
  pyproject.toml
Labels: ci, maintenance, docs

#262 Updates demo with ASCII map and gets rid of writing file
  acoular/demo/acoular_demo.py
Labels: enhancement, docs

#260 Conda CI
  .github/actions/setup-conda/action.yml
  .github/workflows/conda.yml
  build_conda.sh
  recipe.local/run_test.sh
Labels: ci
