Repository acoular/acoular, pull requests merged in 2024-10, with the labels that each got.

#319 add edited labeler to types
  .github/workflows/github.yml
Labels: ci

#316 More platform compatibility when building docs
  CITATION.cff
  docs/source/news/index.rst
  pyproject.toml
Labels: maintenance, docs

#313 Update contribution guide
  docs/source/contributing/install.rst
  docs/source/contributing/quality.rst
  docs/source/news/index.rst
Labels: docs

#297 Frequency domain processing
  acoular/__init__.py
  acoular/base.py
  acoular/configuration.py
  acoular/fprocess.py
  acoular/process.py
  acoular/sdinput.py
  acoular/signals.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  acoular/tools/utils.py
  acoular/tprocess.py
  acoular/traitsviews.py
  docs/source/api_ref/index.rst
  docs/source/news/index.rst
  examples/io_and_signal_processing_examples/example_fft.py
  examples/moving_sources_examples/example_rotating_point_source.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_time_domain_methods.py
  pyproject.toml
  tests/reference_data/Average__.npy
  tests/reference_data/TimeOut__.npy
  tests/test_digest.py
  tests/test_fprocess.py
  tests/test_process.py
  tests/test_spectra.py
  tests/test_timecache.py
  tests/test_tprocess.py
Labels: enhancement, caching, new feature, tests, maintenance, docs

#317 fix use of deprecated attributes
  acoular/fbeamform.py
  acoular/grids.py
  acoular/tbeamform.py
  docs/source/news/index.rst
  pyproject.toml
Labels: maintenance, docs, fix

#323 Fix deprecation
  acoular/base.py
  acoular/fbeamform.py
  acoular/fprocess.py
  acoular/process.py
  acoular/tools/helpers.py
  acoular/tprocess.py
  tests/test_classes.py
Labels: tests, fix

#326 fixes recursion
  acoular/sdinput.py
Labels: fix

#328 Cov report
  .github/workflows/tests.yml
  pyproject.toml
Labels: ci, maintenance

#330 replace np.matlib.repmat with np.tile
  acoular/tprocess.py
  docs/source/news/index.rst
Labels: docs, fix

#332 drop support for Python 3.8 and 3.9
  .github/workflows/conda.yml
  .github/workflows/tests.yml
  pyproject.toml
Labels: ci, maintenance

#331 Numpy 2.0
  acoular/environments.py
  acoular/fbeamform.py
  acoular/grids.py
  acoular/sources.py
  acoular/tbeamform.py
  acoular/tprocess.py
  docs/source/news/index.rst
  pyproject.toml
Labels: maintenance, docs

#329 test docs on MacOs
  .github/actions/setup-portaudio/action.yml
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  docs/source/news/index.rst
Labels: ci, tests, docs

#340 Release prep: adjust version to 24.10
  acoular/version.py
  docs/source/install/index.rst
  docs/source/news/index.rst
  pyproject.toml
  recipe.local/meta.yaml
Labels: maintenance, docs

#321 Pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  docs/source/news/index.rst
Labels: ci, docs
