Repository acoular/acoular, pull requests merged in 2024-09, with the labels that each got.

#301 set version date for deprecated traits
  README.md
  acoular/demo/acoular_demo.py
  acoular/fbeamform.py
  acoular/grids.py
  acoular/signals.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  docs/source/get_started/index.rst
  docs/source/news/index.rst
  examples/benchmark/test_beamformerfreq.py
  examples/introductory_examples/example_3D_beamforming.py
  examples/introductory_examples/example_basic_beamforming.py
  examples/io_and_signal_processing_examples/example_filter.py
  examples/moving_sources_examples/example_rotating_point_source.py
  examples/tools/example_evaluate.py
  examples/tools/example_tools.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_cmf.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_freq_domain_methods.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_steering_vectors.py
  examples/wind_tunnel_examples/example_sectors_and_integration.py
  tests/test_beamformer_results.py
Labels: tests, maintenance, docs

#302 Refactor beamformer time classes
  acoular/tbeamform.py
  acoular/tools/__init__.py
  acoular/tools/utils.py
  docs/source/news/index.rst
  tests/reference_data/BeamformerCleant0.npy
  tests/reference_data/BeamformerCleant1.npy
  tests/reference_data/BeamformerCleantSq0.npy
  tests/reference_data/BeamformerCleantSq1.npy
  tests/reference_data/BeamformerCleantSqTraj0.npy
  tests/reference_data/BeamformerCleantSqTraj1.npy
  tests/reference_data/BeamformerCleantTraj0.npy
  tests/reference_data/BeamformerCleantTraj1.npy
  tests/reference_data/BeamformerTime0.npy
  tests/reference_data/BeamformerTime1.npy
  tests/reference_data/BeamformerTimeSq0.npy
  tests/reference_data/BeamformerTimeSq1.npy
  tests/reference_data/BeamformerTimeSqTraj0.npy
  tests/reference_data/BeamformerTimeSqTraj1.npy
  tests/reference_data/BeamformerTimeTraj0.npy
  tests/reference_data/BeamformerTimeTraj1.npy
  tests/test_tools_utils.py
  tests/test_traj_beamformer_results.py
Labels: tests, docs, refactoring

#304 AIAA TimeSamples classes: rename loading functions
  acoular/tools/aiaa.py
Labels: fix

#307 download time and calibdata to cwd if not found
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_cmf.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_freq_domain_methods.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_steering_vectors.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_time_domain_methods.py
  examples/wind_tunnel_examples/example_sectors_and_integration.py
Labels: fix, examples

#305 replace numpy.asfarray
  acoular/grids.py
Labels: fix

#308 flush
  acoular/tprocess.py
  docs/source/news/index.rst
Labels: caching, docs, fix
