Repository acoular/acoular, pull requests merged in 2024-07, with the labels that each got.

#283 add autolabel rule for `fix`
  .github/labeler.yml
  .github/workflows/github.yml
Labels: ci

#255 remove plot_example
  scripts/plot_examples.py
Labels: docs

#282 Fixes BeamformerGridlessOrth shgo params and eva_list initial value bug
  acoular/fbeamform.py
  tests/reference_data/BeamformerGridlessOrth.npy
Labels: tests, fix

#288 make ready to release
  acoular/version.py
  docs/source/news/index.rst
  pyproject.toml
Labels: maintenance, docs

#289 automate conda upload
  .github/actions/setup-conda/action.yml
  .github/workflows/conda.yml
  .github/workflows/labeler.yml
Labels: ci

#291 Post fix
  .github/actions/setup-conda/action.yml
  .github/workflows/conda.yml
  .github/workflows/labeler.yml
  CITATION.cff
  CONTRIBUTING.md
  README.md
Labels: ci

#292 Bibtex
  acoular/environments.py
  acoular/fbeamform.py
  acoular/spectra.py
  acoular/tbeamform.py
  acoular/tools/metrics.py
  acoular/tprocess.py
  docs/source/conf.py
  docs/source/contributing/documentation.rst
  docs/source/literature/index.rst
  docs/source/literature/literature.bib
  docs/source/news/index.rst
  examples/tools/example_evaluate.py
  pyproject.toml
Labels: maintenance, docs

#295 fix cron job
  .github/workflows/checks.yml
  .github/workflows/cron_jobs.yml
Labels: ci, fix
