Repository acoular/acoular, pull requests merged in 2025-08, with the labels that each got.

#509 Move unit system sections to Note sections
  acoular/grids.py
  acoular/microphones.py
  docs/source/news/index.rst
Labels: docs, fix

#518 Fix docstrings for ``h5cache.py``
  .ruff.toml
  acoular/h5cache.py
  docs/source/news/index.rst
Labels: docs, linting

#519 Fix docstrings for ``fbeamform.py``
  .ruff.toml
  acoular/fbeamform.py
  docs/source/news/index.rst
Labels: docs, linting

#517 Fix docstrings for ``h5files.py``
  .ruff.toml
  acoular/h5files.py
  docs/source/news/index.rst
Labels: docs, linting

#513 fix #362
  acoular/sources.py
  docs/source/news/index.rst
Labels: fix, refactoring

#512 fix #153
  acoular/aiaa/aiaa.py
  acoular/calib.py
  acoular/fbeamform.py
  acoular/grids.py
  acoular/microphones.py
  acoular/process.py
  acoular/sources.py
  acoular/tprocess.py
  docs/source/news/index.rst
Labels: fix

#523 fix bug in PointSource when start silently crashes for some values
  acoular/sources.py
  docs/source/news/index.rst
Labels: fix
