Repository acoular/acoular, pull requests merged in 2025-03, with the labels that each got.

#409 docstrings for microphones.py
  acoular/microphones.py
  docs/source/news/index.rst
Labels: docs

#444 docstrings for environments.py
  acoular/environments.py
  docs/source/news/index.rst
Labels: docs

#407 docstrings for spectra.py
  acoular/spectra.py
  docs/source/news/index.rst
Labels: docs

#449 Right handed coordinate system for demo, readme and getting started
  README.md
  acoular/demo/acoular_demo.py
  docs/source/get_started/index.rst
Labels: docs

#448 Add known issues section
  docs/source/install/index.rst
  docs/source/news/index.rst
Labels: docs

#446 fix version, extend CI
  .github/workflows/conda.yml
  docs/source/news/index.rst
  recipe.local/meta.yaml
Labels: ci, docs, fix

#431 docstrings for signals.py
  acoular/signals.py
  docs/source/literature/literature.bib
  docs/source/news/index.rst
Labels: docs

#415 docstrings for sources.py
  acoular/sources.py
  docs/source/news/index.rst
Labels: docs

#442 docstrings for process.py
  acoular/process.py
  docs/source/news/index.rst
Labels: docs

#451 updates RotatingFlow class to feature "rotational_speed"
  acoular/environments.py
  docs/source/news/index.rst
  tests/cases/test_environments_cases.py
Labels: enhancement, tests, docs, fix

#452 Release prep
  CITATION.cff
  acoular/version.py
  docs/source/news/index.rst
Labels: docs

#456 fixes import error
  acoular/aiaa/aiaa.py
  acoular/version.py
Labels: fix
