Repository acoular/acoular, pull requests merged in 2025-01, with the labels that each got.

#411 Intersphinx
  docs/source/conf.py
  docs/source/news/index.rst
Labels: docs

#353 Fix labeler
  .github/labeler.yml
  docs/source/news/index.rst
Labels: ci, tests, docs, fix

#413 Prevents numpy from premature loading
  acoular/configuration.py
Labels: fix

#422 Merge grid
  acoular/grids.py
Labels: fix

#374 Test traits dependencies
  .ruff.toml
  acoular/environments.py
  docs/source/news/index.rst
  tests/cases/test_environments_cases.py
  tests/unittests/test_classes.py
  tests/utils.py
Labels: tests, docs, linting, fix

#403 Make example in main README work out of the box (this closes #402)
  CITATION.cff
  README.md
  acoular/demo/__init__.py
  acoular/demo/acoular_demo.py
  docs/source/get_started/three_source_py3_colormap.png
  docs/source/news/index.rst
Labels: tests, docs, linting, fix

#416 Add new NoiseGenerator and PeriodicSignalGenerator base classes
  acoular/__init__.py
  acoular/signals.py
  acoular/sources.py
  docs/source/news/index.rst
Labels: docs, fix

#425 delete regression test data for `FlowField`
  tests/regression/_regtest_outputs/test_environments.test_flow[RectGrid3D-FlowField]__0/arrays.npy
Labels: tests

#429 Fixes deprecated traits features
  acoular/base.py
  acoular/calib.py
  acoular/microphones.py
  acoular/sdinput.py
  acoular/signals.py
  acoular/sources.py
  acoular/tprocess.py
  docs/source/news/index.rst
Labels: new feature, docs, fix

#433 fix plot numbers
  examples/moving_sources_examples/example_rotating_point_source.py
Labels: fix

#427 Right hand co-ordinate system in examples
  docs/source/news/index.rst
  examples/benchmark/test_beamformerfreq.py
  examples/introductory_examples/example_3D_beamforming.py
  examples/introductory_examples/example_basic_beamforming.py
  examples/introductory_examples/example_three_sources.py
  examples/io_and_signal_processing_examples/example_power_spectra_import.py
  examples/moving_sources_examples/example_rotating_point_source.py
  examples/tools/example_evaluate.py
  examples/tools/example_tools.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_cmf.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_freq_domain_methods.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_steering_vectors.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_time_domain_methods.py
  examples/wind_tunnel_examples/example_sectors_and_integration.py
Labels: enhancement, tests, docs, linting, examples

#434 Consistent use of n_iter trait for number of iterations in Beamformer algorithms
  acoular/fbeamform.py
  acoular/traitsviews.py
  docs/source/news/index.rst
  tests/cases/test_caching_cases.py
  tests/cases/test_fbeamform_cases.py
Labels: enhancement, tests, docs

#436 update version number
  acoular/version.py
  docs/source/news/index.rst
Labels: maintenance, docs

#435 Basename utility functions
  .ruff.toml
  acoular/__init__.py
  acoular/aiaa/__init__.py
  acoular/aiaa/aiaa.py
  acoular/fprocess.py
  acoular/process.py
  acoular/sources.py
  acoular/spectra.py
  acoular/tbeamform.py
  acoular/tools/__init__.py
  acoular/tools/helpers.py
  acoular/tools/utils.py
  acoular/tprocess.py
  docs/source/news/index.rst
  tests/cases/test_generator_cases.py
  tests/unittests/test_aiaa.py
  tests/unittests/test_sample_buffer.py
Labels: tests, docs, linting
