Repository acoular/acoular, pull requests merged in 2025-06, with the labels that each got.

#468 DOCS: Meter unit comments for `Grid`s and `MicGeom`
  acoular/grids.py
  acoular/microphones.py
  docs/source/news/index.rst
Labels: docs

#472 block-wise processing in MovingPointSource
  acoular/sources.py
  docs/source/news/index.rst
Labels: enhancement, docs

#484 exclude scipy 1.16
  docs/source/news/index.rst
  pyproject.toml
Labels: maintenance, docs, fix
