Repository acoular/acoular, pull requests merged in 2025-07, with the labels that each got.

#486 remove unused import
  docs/source/gen_rst.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_cmf.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_freq_domain_methods.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_steering_vectors.py
  examples/wind_tunnel_examples/example_sectors_and_integration.py
Labels: docs, fix, refactoring

#489 Generalize data import in airfoil examples
  acoular/tools/helpers.py
  docs/source/news/index.rst
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_cmf.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_freq_domain_methods.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_steering_vectors.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_time_domain_methods.py
  examples/wind_tunnel_examples/example_sectors_and_integration.py
Labels: docs, refactoring

#490 Deprecate `RectGrid`'s `extend()` method in favor of `extent` property
  README.md
  acoular/demo/acoular_demo.py
  acoular/grids.py
  docs/source/get_started/index.rst
  docs/source/news/index.rst
  examples/introductory_examples/example_basic_beamforming.py
  examples/io_and_signal_processing_examples/example_power_spectra_import.py
  examples/moving_sources_examples/example_rotating_point_source.py
  examples/tools/example_evaluate.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_cmf.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_freq_domain_methods.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_steering_vectors.py
  examples/wind_tunnel_examples/example_airfoil_in_open_jet_time_domain_methods.py
  examples/wind_tunnel_examples/example_sectors_and_integration.py
  tests/unsupported/functionalBeamformer.py
  tests/unsupported/precisionTest.py
Labels: tests, docs

#470 Example for grids
  .gitignore
  acoular/demo/__init__.py
  acoular/demo/acoular_demo.py
  acoular/grids.py
  docs/source/news/index.rst
  examples/introductory_examples/example_grids.py
  tests/unittests/test_grid.py
Labels: tests, maintenance, docs, examples

#493 modify test to catch fixed case
  tests/unittests/test_integrate.py
Labels: tests

#492 Fix: BeamformerBase integrate now returns non-empty results
  acoular/fbeamform.py
  docs/source/news/index.rst
  tests/unittests/test_integrate.py
Labels: tests, docs, fix

#496 fix link to blog
  docs/source/index.rst
Labels: maintenance

#491 fix globs in labeler
  .github/labeler.yml
Labels: ci, fix

#498 rework `WriteWAV`
  acoular/tprocess.py
  docs/source/news/index.rst
  tests/cases/test_generator_cases.py
  tests/utils.py
Labels: tests, fix, refactoring
